table, th, td {
    border: 1px solid black;
}

table {
    text-align:center;
    margin:auto;
    width:90%;
}

#formwrap {
    margin: auto;
    background-color: #c8e9b1;
    width: 98%;
    overflow: hidden;
    border: solid #88a56e;
    border-width: 3px;
}

ul {
    list-style-type: none;
    text-align:center;
    margin-left:auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
    background-color: #88a56e;
    width:98%;
}

li {
    display:inline-block;
    width:10%;
    padding: 10px;
}

li a {
	width:100%;
    padding: 10px;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.current {
    background-color: #c8e9b1;
    color: #552E00;
    border: solid #88a56e;
    border-width: 3px;
}

#valuewrap {
    margin: auto;
    background-color: #c8e9b1;
    width: 90%;
    height: auto;
    overflow: hidden;
    border: solid #88a56e;
    border-width: 3px;
}

#valuewraps {
    margin: auto;
    background-color: #c8e9b1;
    width: 90%;
    height: 225px;
    overflow: hidden;
    border: solid #88a56e;
    border-width: 3px;
}

#sec1 {
    background-color: #c8e9b1;
    width: 50%;
    float:left;

}

#sec2 {
    background-color: #c8e9b1;
    width:50%;
    float:right;
}

#subutt {
    align: center;
    text-align: center;
    width: 250px
}

body {
    color: #000000;
    background: #FFFFFF none no-repeat scroll center center;
}

img.head {
    width: 98%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border: solid #88a56e;
    border-width: 3px;
}

img.results {
    width: 800px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border: solid #88a56e;
    border-width: 3px;
}

form {
    background-color: #c8e9b1;
    display: block;
    width: 90%;
    margin: 0 auto;
}

h2 {color: #552E00;
    font: 30px;
    float: center;
    text-align: center;
}

label, input {
    display: inline-block;

}
input{
    width: 80px;
    text-align: left;
    float: center;
    font: normal normal 20px 'Times New Roman', Times, FreeSerif, sans-serif;
}

output{
    display: inline-block
    width: 10%
    text-align: left;
    font: normal normal 20px 'Times New Roman', Times, FreeSerif, sans-serif;
    }

#indata {
    height:auto;
    width:32%;
    vertical-align:bottom;
    margin-left: 0px;
    float:left;
    background-color:#c8e9b1;
    font: normal normal 18px 'Times New Roman', Times, FreeSerif, sans-serif;
}

#outdata{
    height:auto;
    width:32%;
    float: left;
    vertical-align:bottom;
    background-color:#c8e9b1;
    font: normal normal 18px 'Times New Roman', Times, FreeSerif, sans-serif;
}

#datahead{
    height:25px;
    width:100%;
    vertical-align:top;
    font-size:20px;
    text-align:center;
}

div.dataleft{
    width:100%;
    margin-left:2px;
    vertical-align:bottom;
}

div.dataright{
    float: right;
    width:30%;
    left-margin:0%;
    vertical-align:bottom;
}

div.inside {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

label {
    width: 48%;
    text-align: center;
    font: normal normal 20px 'Times New Roman', Times, FreeSerif, sans-serif;
}

label.dd {
    width: 10%;
    text-align: right;
    font: normal normal 20px 'Times New Roman', Times, FreeSerif, sans-serif;
}

label.deptem{
font: normal normal 20px 'Times New Roman', Times, FreeSerif, sans-serif;
width:60%;
}

input.defdisp{
    width:80px;
}

input.deptem{
width:70px;
}

div.deptem{
font: normal normal  'Times New Roman', Times, FreeSerif, sans-serif;
width:30%;
}

img.fig{
display:block;
margin:auto;
width:50%;
}

img.fig2{
display:block;
margin:auto;
width:65%;
}